<%- include ('../partials/header') %>

<div class="container my-5">
  <div class="jumbotron">
    <h1 class="display-4"><%= modpack.title %></h1>
    <p class="lead">Theme: <%= modpack.theme %>.</p>
    <hr class="my-4">
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Future Conflict Resolver</a>
    </p>
    <hr class="my-4">
    <a href="/modpacks/<%= modpack.id %>/edit"><i class="fa fa-edit">&nbsp;</i>Alter Modpack</a>
    <br>
    <form class="form-inline" action="/modpacks/delete" method="post" onsubmit="return confirm('Really remove modpack?');">
      <input type="hidden" value="<%= modpack.id %>" name="id">
      <button class="delete" type="submit">
        <i class="fa fa-trash">&nbsp;</i>
        Delete modpack
      </button>
    </form>
  </div>
</div>

<%- include ('../partials/footer') %>
