<%- include ('../partials/header') %>

<div class="container my-5">
  <header>
    <h1>Mod Library</h1>
  </header>

  <hr>

  <div class="content">
    <% for (let mod of mods) { %>
   

        <div class="jumbotron">
          <h1 class="display-4"><%= mod.title %></h1>
          <p class="lead"><%= mod.description %>.</p>
          <hr class="my-4">
          <p>Current Version: <%= mod.version %></p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Version Control w/ feature comparison via changelog coming soon</a>
          </p>
        </div>
        <div class="card-footer text-muted">
          <a href="/mods/<%= mod.id %>/edit"><i class="fa fa-edit">&nbsp;</i>Edit Mod Labels, eventual in-browser manipulation of .ini .config files</a>
          <br>
          <form class="form-inline" action="/mods/delete" method="post" onsubmit="return confirm('Remove mod from your library?');">
            <input type="hidden" value="<%= mod.id %>" name="id">
            <button class="delete" type="submit">
              <i class="fa fa-trash">&nbsp;</i>
              Remove Mod
            </button>
          </form>
        </div>
      </div>
    <% } %>
  </div>
</div>

<%- include ('../partials/footer') %>
